Data Pre-Processing

In [6]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 

#Importing data
df = pd.read_csv('D:\Scalable system programming\wdata_1.csv')
#Printing head
print(df.head())

print(df.shape)

        holidays    temp  rain  snow  clouds weather weather_description  \
0  New_Years_Day  265.94   0.0   0.0      90    Snow          light_snow
1           None  266.00   0.0   0.0      90    Snow          light_snow
2           None  266.01   0.0   0.0      90    Snow          light_snow
3           None  264.80   0.0   0.0      90  Clouds     overcast_clouds
4           None  264.38   0.0   0.0      90  Clouds     overcast_clouds

          date_time  traffic
0  01/01/2016 00:00     1513
1  01/01/2016 01:00     1550
2  01/01/2016 03:00      719
3  01/01/2016 04:00      533
4  01/01/2016 05:00      586
(27859, 9)

In [7]:
df1=df

In [4]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27859 entries, 0 to 27858
Data columns (total 10 columns):
Unnamed: 0    27859 non-null object
temp          27859 non-null float64
Unnamed: 2    27859 non-null float64
Unnamed: 3    27859 non-null float64
Unnamed: 4    27859 non-null int64
Unnamed: 5    27859 non-null object
Unnamed: 6    27859 non-null object
Unnamed: 7    27859 non-null object
traffic       27859 non-null int64
date          27859 non-null object
dtypes: float64(3), int64(2), object(5)
memory usage: 2.1+ MB

In [8]:
df1.isnull().sum()

holiday                0
temp                   0
rain_1h                0
snow_1h                0
clouds_all             0
weather_main           0
weather_description    0
date_time              0
traffic_volume         0
date                   0
dtype: int64

In [9]:
import datetime

df1['date_time'] = pd.to_datetime(df1['date_time'], format='%d/%m/%Y %H:%M')
df1.head()

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,traffic_volume,date
0,New_Years_Day,265.94,0.0,0.0,90,Snow,light_snow,2016-01-01 00:00:00,1513,01/01/2016
1,None,266.00,0.0,0.0,90,Snow,light_snow,2016-01-01 01:00:00,1550,01/01/2016
2,None,266.01,0.0,0.0,90,Snow,light_snow,2016-01-01 03:00:00,719,01/01/2016
3,None,264.80,0.0,0.0,90,Clouds,overcast_clouds,2016-01-01 04:00:00,533,01/01/2016
4,None,264.38,0.0,0.0,90,Clouds,overcast_clouds,2016-01-01 05:00:00,586,01/01/2016

In [14]:
df1['date']=pd.to_datetime(df1['date_time']).dt.date
df1['date'] = pd.to_datetime(df1['date'])
df1.head()

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,traffic_volume,date
0,New_Years_Day,265.94,0.0,0.0,90,Snow,light_snow,2016-01-01 00:00:00,1513,2016-01-01
1,None,266.00,0.0,0.0,90,Snow,light_snow,2016-01-01 01:00:00,1550,2016-01-01
2,None,266.01,0.0,0.0,90,Snow,light_snow,2016-01-01 03:00:00,719,2016-01-01
3,None,264.80,0.0,0.0,90,Clouds,overcast_clouds,2016-01-01 04:00:00,533,2016-01-01
4,None,264.38,0.0,0.0,90,Clouds,overcast_clouds,2016-01-01 05:00:00,586,2016-01-01

In [15]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27859 entries, 0 to 27858
Data columns (total 10 columns):
holiday                27859 non-null object
temp                   27859 non-null float64
rain_1h                27859 non-null float64
snow_1h                27859 non-null float64
clouds_all             27859 non-null int64
weather_main           27859 non-null object
weather_description    27859 non-null object
date_time              27859 non-null datetime64[ns]
traffic_volume         27859 non-null int64
date                   27859 non-null datetime64[ns]
dtypes: datetime64[ns](2), float64(3), int64(2), object(3)
memory usage: 2.1+ MB

In [58]:
df1.to_csv(r'D:\\Scalable system programming\\data.csv', index = False, header=0)